# Node
node_modules/*
npm-debug.log
src
tmp
dist
coverage
.angular-cli.json
.editorconfig
.gitignore
.npmignore
.travis.yml
gulpfile.js
karma.conf.js
main.ts
polyfills.ts
test.ts
tsconfig.json
tsconfig.ngc.json
tsconfig.spec.json
tslint.json
yarn.lock
*.iml
.idea/
