<div class="sk-cube-grid" [class.colored]="!backgroundColor">
    <div class="sk-cube sk-cube1" [style.background-color]='backgroundColor'></div>
    <div class="sk-cube sk-cube2" [style.background-color]='backgroundColor'></div>
    <div class="sk-cube sk-cube3" [style.background-color]='backgroundColor'></div>
    <div class="sk-cube sk-cube4" [style.background-color]='backgroundColor'></div>
    <div class="sk-cube sk-cube5" [style.background-color]='backgroundColor'></div>
    <div class="sk-cube sk-cube6" [style.background-color]='backgroundColor'></div>
    <div class="sk-cube sk-cube7" [style.background-color]='backgroundColor'></div>
    <div class="sk-cube sk-cube8" [style.background-color]='backgroundColor'></div>
    <div class="sk-cube sk-cube9" [style.background-color]='backgroundColor'></div>
</div>
