name: npm update

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 2' # Every Tuesday at midnight

env:
  FORCE_COLOR: 3

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        node-version: [ 24.x ]
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Run npm update
        run: |
          npm update

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.GH_PR_PAT }}
          commit-message: "chore: npm update"
          committer: 'Michel Palourdio <mpalourdio@gmail.com>'
          author: 'Michel Palourdio <mpalourdio@gmail.com>'
          branch: 'npm-update'
          delete-branch: 'true'
          title: 'chore: npm update'
          labels: 'dependencies'
          body: ''

      - name: Auto-merge PR
        if: ${{ steps.cpr.outputs.pull-request-number }}
        run: gh pr merge --merge --auto --delete-branch ${{steps.cpr.outputs.pull-request-number }}
        env:
          GH_TOKEN: ${{ secrets.GH_PR_PAT }}
